## Importings

In [1]:
from bs4 import BeautifulSoup
import html5lib
import pandas as pd
import requests
import lxml
import re
import matplotlib.pyplot as plt
import seaborn as sns
get_ipython().run_line_magic('matplotlib', 'inline')
import numpy as np

## getting the URL and URL data and getting the headers of the table

In [2]:

url = 'https://www.worldometers.info/coronavirus/#countries'
mypage = requests.get(url)
soup = BeautifulSoup(mypage.text, 'lxml')

mytable = soup.find('table', {'id': 'main_table_countries_today'})

headers = []

for i in mytable.find_all('th'):
    title = i.text
    headers.append(title)


## preparing a  data frame and getting the whole raw data from the website

In [3]:
 
df = pd.DataFrame(columns = headers)


for row in mytable.find_all('tr')[1:]:
    data = row.find_all('td')
    row_data = [td.text.strip() for td in data]
    length = len(df)
    df.loc[length] = row_data

## testing the head

In [4]:

df.head()

,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",...,TotalTests,Tests/\n1M pop\n,Population,Continent,1 Caseevery X ppl,1 Deathevery X ppl,1 Testevery X ppl,New Cases/1M pop,New Deaths/1M pop,Active Cases/1M pop
0,,North America,"51,194,396","+8,042","1,042,195",+451,"39,552,042","+9,084","10,600,159","32,715",...,,,,North America,,,,,,
1,,Asia,"73,601,073","+27,365","1,090,285",+319,"69,468,625","+47,129","3,042,163","38,186",...,,,,Asia,,,,,,
2,,South America,"37,353,626",,"1,144,669",,"35,468,721",,"740,236","13,796",...,,,,South America,,,,,,
3,,Europe,"57,302,172","+2,359","1,199,029",+8,"52,452,481","+10,619","3,650,662","11,889",...,,,,Europe,,,,,,
4,,Africa,"8,194,902",+3,"205,530",,"7,444,286",+3,"545,086","4,032",...,,,,Africa,,,,,,

## removing the extra cells and extra columns

In [5]:

df = df[7:-8]#xrta cells  
#xtra columns


df = df.drop(columns='1 Caseevery X ppl')
df = df.drop(columns='1 Deathevery X ppl')
df = df.drop(columns='1 Testevery X ppl')
df = df.drop(columns='New Cases/1M pop')
df = df.drop(columns='Deaths/1M pop')
df = df.drop(columns='Tests/\n1M pop\n')
df = df.drop(columns='New Deaths/1M pop')
df = df.drop(columns='Active Cases/1M pop')

## converting to CSv

In [6]:

dfc= df

dfc.to_csv('rawdata.csv')

dff = pd.read_csv('rawdata.csv')