## Importings

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## Reading CSV

In [2]:
dff = pd.read_csv('rawdata.csv')

## checking Head

In [3]:
dff.head()

,Unnamed: 0,#,"Country,Other",TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,TotalTests,Population,Continent
0,7,NaN,World,"227,844,736","+39,965","4,684,246",798.0,"204,514,139","+66,926","18,646,351","100,870","29,230",NaN,NaN,All
1,8,1.0,USA,"42,634,054",NaN,"688,486",NaN,"32,347,726",NaN,"9,597,842","25,209","127,897","615,684,393","333,347,223",North America
2,9,2.0,India,"33,381,728","+1,206","444,278",NaN,"32,598,424","+7,556","339,026","8,944","23,906","547,701,729","1,396,383,360",Asia
3,10,3.0,Brazil,"21,069,017",NaN,"589,277",NaN,"20,173,064",NaN,"306,676","8,318","98,277","57,095,219","214,384,223",South America
4,11,4.0,UK,"7,339,009",NaN,"134,805",NaN,"5,907,029",NaN,"1,297,175","1,081","107,426","288,664,707","68,316,802",Europe

## Filtering

### Preparing Data to convert into int

In [4]:
dff['TotalCases']=dff['TotalCases'].str.replace(',','')
dff['NewCases']=dff['NewCases'].str.replace(',','')
dff['NewCases']=dff['NewCases'].str.replace('+','')


dff['TotalDeaths']=dff['TotalDeaths'].str.replace(',','')

dff['NewDeaths']=str(dff['NewDeaths'])

dff['NewDeaths']=dff['NewDeaths'].str.replace(',','')
dff['NewDeaths']=dff['NewDeaths'].str.replace('+','')

dff['TotalRecovered']=dff['TotalRecovered'].str.replace(',','')
dff['NewRecovered']=dff['NewRecovered'].str.replace(',','')
dff['NewRecovered']=dff['NewRecovered'].str.replace('+','')
dff['Serious,Critical']=dff['Serious,Critical'].str.replace(',','')


dff['ActiveCases']=dff['ActiveCases'].str.replace(',','')
dff['TotalTests']=dff['TotalTests'].str.replace(',','')
dff['Population']=dff['Population'].str.replace(',','')

<ipython-input-4-e26dfa375340>:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  dff['NewCases']=dff['NewCases'].str.replace('+','')
<ipython-input-4-e26dfa375340>:11: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  dff['NewDeaths']=dff['NewDeaths'].str.replace('+','')
<ipython-input-4-e26dfa375340>:15: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  dff['NewRecovered']=dff['NewRecovered'].str.replace('+','')

In [5]:
### Removing 'nan' and 'NaN' cells

In [6]:
c= dff

In [7]:
Continent = c['Continent']
Country = c['Country,Other']
Population=[]
TotalCases= []
NewCases = []
TotalDeaths= []
NewDeaths= []
TotalRecovered = []
NewRecovered = []
ActiveCases = []
Serious = []
TotalTests = []



#Population
for i in c['Population']:
    if str(i)=='nan':
        Population.append(0.0)
    else:
        Population.append(i)
    
    
    
# TotalCases
for i in c['TotalCases']:
    if str(i)=='nan':
        TotalCases.append(0.0)
    else:
        TotalCases.append(i)
        
        
#NewCases
for i in c['NewCases']:
    if str(i)=='nan':
        NewCases.append(0.0)
    else:
        NewCases.append(i)
   
        
        
# TotalDeaths
for i in c['TotalDeaths']:
    if str(i)=='nan':
        TotalDeaths.append(0.0)
    else:
        TotalDeaths.append(i)
        
        
# NewDeaths
        
for i in c['NewDeaths']:
    if str(i)=='nan'or 'NaN':
        NewDeaths.append(0.0)
    else:
        NewDeaths.append(i)
    
    
    
# TotalRecovered
for i in c['TotalRecovered']:
    if str(i)=='nan':
        TotalRecovered.append(0.0)
    else:
        TotalRecovered.append(i)
        
        
# NewRecovered
for i in c['NewRecovered']:
    if str(i)=='nan':
        NewRecovered.append(0.0)
    else:
        NewRecovered.append(i)
    
    


# ActiveCases
for i in c['ActiveCases']:
    if str(i)=='nan':
        ActiveCases.append(0.0)
    else:
        ActiveCases.append(i)
    
    
# Serious,Critical
for i in c['Serious,Critical']:
    if str(i)=='nan':
        Serious.append(0.0)
    else:
        Serious.append(i)
    
#TotalTests
for i in c['TotalTests']:
    if str(i)=='nan':
        TotalTests.append(0.0)
    else:
        TotalTests.append(i)

### Making to Series

In [8]:
Population =pd.Series(Population)

TotalCases =pd.Series(TotalCases)

TotalDeaths =pd.Series(TotalDeaths)

NewDeaths =pd.Series(NewDeaths)

TotalRecovered =pd.Series(TotalRecovered)

NewRecovered =pd.Series(NewRecovered)

NewCases  =pd.Series(NewCases )


ActiveCases  =pd.Series(ActiveCases )

Serious  =pd.Series(Serious )
TotalTests  =pd.Series(TotalTests )

### converting to numeric to do operations

In [9]:

Population =pd.to_numeric(Population)

TotalCases =pd.to_numeric(TotalCases)

TotalDeaths =pd.to_numeric(TotalDeaths)

NewDeaths =pd.to_numeric(NewDeaths)

TotalRecovered =pd.to_numeric(TotalRecovered)

NewRecovered =pd.to_numeric(NewRecovered)

NewCases=pd.to_numeric(NewCases)


ActiveCases=pd.to_numeric(ActiveCases)


Serious=pd.to_numeric(Serious)

TotalTests=pd.to_numeric(TotalTests)

In [10]:

### Converting to DATA FRAME
###  Adding Continent ,Country

In [11]:
newframe =pd.DataFrame({ 'Continent': Continent, 'Country': Country ,'Population': Population,  'TotalCases':TotalCases ,'TotalDeaths': TotalDeaths,'NewDeaths': NewDeaths, 'TotalRecovered': TotalRecovered,'NewRecovered': NewRecovered,'NewCases': NewCases,'ActiveCases': ActiveCases,'Serious ,Critical': Serious, 'TotalTests': TotalTests  })

 
newframe['Population'] = newframe['Population'].astype(int)

newframe.to_csv('Mycd.csv')